*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-text;
  font-size: $base-font-size;
  line-height: 1.7;
  font-weight: $font-light;
  color: $base-text-color;
}

.main-container {
  display: flex;
  max-width: 1920px;
  background-color: $highlight-light-color;
  border-right: 1px solid $bg-light-color;
  margin: 0 auto;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;

  &-left {
    flex-grow: 0;
  }

  &-right {
    flex-grow: 6;
  }
}

.content-container {
  width: calc(100% - 36px);
  height: 100%;
  margin: 18px;
}

.container-fluid {
  padding: 0;
  margin-bottom: 18px;
  text-align: center;
  border: 1px solid $bg-light-color;
  background-color: $highlight-text-color;
  box-shadow: 5px 5px 10px $bg-light-color, -5px -5px 10px $bg-light-color;
}

.section-header-container {
  @include flex(row, center, flex-start);
  height: 48px;
  border-bottom: 1px solid $bg-light-color;
  margin: 0;
  padding: 0 18px;
}

.page {
  display: none;

  &.active {
    display: block;
  }
}