.section-header {
  @include header($base-text-color, $base-font-size, $font-normal);
  text-transform: uppercase;
  margin: 0;
}

.subsection-header {
  @include header($base-text-color, $base-font-size, $font-bold);
}

.text {
  @include header($sidebar-dark-color, 14px, $font-light);
  margin: 0;
}