/* Colors */
$highlight-text-color: #fff;
$base-text-color: #a6a6a6;

$brand-main-color: #f58220;
$sidebar-dark-color: #191919;
$highlight-light-color: #f5f5f2;

$link-color: #56819f;

$bg-light-color: #e3e3e3;
$bg-dark-color: #979797;

$checked: #04ae00;
$required: #ff0000;

$positive-notification: #74b67a;
$negative-notification: #de5252;

$hover-light-color: #ffa200;
$hover-dark-color: #bababa;
$hover-pos-notification: #96cc9b;
$hover-neg-notification: #ec7171;

/* Font sizes */
$header-font-size: 16px;
$base-font-size: 16px;

/* Fonts */
$font-brand: "Oleo Script", cursive;
$font-text: "Roboto", sans-serif;

$font-light: 300;
$font-normal: 400;
$font-bold: 600;

/* Transformations */
$transition: all .3s;
$radius: 4px;

/* Size */
$base-size: 12px;
