.btn {
  @include btn($highlight-text-color);

  &:hover {
    color: $highlight-text-color;
  }
}

.btn-default {
  background-color: $brand-main-color;
  padding: 6px 20px;

  &:hover {
    background-color: $hover-light-color;
  }
}

.btn-extra-action {
  background-color: $bg-dark-color;
  padding: 6px 20px;

  &:hover {
    background-color: $hover-dark-color;
  }
}

.btn-refresh {
  background-color: $brand-main-color;
  padding: 6px 12px;

  &:hover {
    background-color: $hover-light-color;
  }
}